.galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: $size1;
    background-color: $color1;
    grid-gap: $size1;
    background-image: radial-gradient(circle, #e800ff, #9273ff, #4594ff, #4ba4e6, #84aabe);

}

.item {
    border: 5px solid $color2;
    background-color: $color1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $size2;
    font-weight: bold;
    color: $color7;
    text-shadow: 
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
    transition: all 0.9s;
}

.item:hover{
    filter: grayscale(0%);
    transform: scale(1.09);
}



.item1 {
    background-image: url(img/boca.jpg);
}


.item2 {
    background-image: url(img/tabla\ boca.jpeg)
}

.item3 {
    background-image: url(img/vino\ river.jpg);
}

.item4 {
    background-image: url(img/river.jpg);
}

.item5 {
    background-image: url(img/cuadro\ messi.jpg);
}

.item6 {
    background-image: url(img/foto\ mesis\ bn.jpg)
}

.item7 {
    background-image: url(img/argentina.jpeg);
}

.item8 {
    background-image: url(img/cuado\ messi\ diego.jpeg);
}
@media only screen and (min-width:768px) and (max-width:1024px) {
    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .item1 {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    .item2 {
        grid-column: 3/4;
        grid-row: 1/2;
    }

    .item3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .item4 {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .item5 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    .item6 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    .item7 {
        grid-column: 1/2;
        grid-row: 4/5;
    }

    .item8 {
        grid-column: 2/4;
        grid-row: 4/5;
    }
}

@media only screen and (min-width:1024px) {
    .galeria {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
}
