nav {
    background-color: $color1;
    background-color: $color6;
    background-image: radial-gradient(circle, #e800ff, #373638, #4594ff, #4ba4e6, #84aabe);
    color: $color7;
}

.navbar-brand span {
    color: $color2;
}